watch:
  asset: BTC
  currency: USDT
  mode: backtest
  timeframe: 1h
  warmup:
    candleCount: 365
  daterange:
    start: '2017-10-01T00:00:00.000Z'
    end: '2026-01-01T00:00:00.000Z'

exchange:
  name: dummy-cex

storage:
  type: sqlite
  database: ./db/binance-BTC_USDT.sql

strategy:
  name: RSI
  src: ohlc4
  period: 21
  thresholds:
    high: 70
    low: 30
    persistence: 0

plugins:
  - name: TradingAdvisor
    strategyName: RSI

  - name: Trader

  - name: PerformanceAnalyzer
    enableConsoleTable: true
