showLogo: false
watch:
  assets:
    - BTC
  currency: USDT
  timeframe: 1h
  mode: backtest
  warmup:
    candleCount: 10000
  daterange:
    start: '2017-10-01T00:00:00.000Z'
    end: '2026-01-01T00:00:00.000Z'

exchange:
  name: dummy-cex
  marketData:
    - symbol: BTC/USDT
      marketData:
        price:
          min: 0.01
          max: 1000000
        amount:
          min: 0.00001
          max: 9000
        cost:
          min: 5
          max: 9000000
        precision:
          price: 8
          amount: 8
        fee:
          maker: 0.0004
          taker: 0.0007
  simulationBalance:
    - assetName: BTC
      balance: 0
    - assetName: USDT
      balance: 1000

storage:
  type: sqlite
  database: ./db/binance-BTC_ETH_USDT.sql

strategy:
  name: RSI
  src: ohlc4
  period: 21
  thresholds:
    high: 70
    low: 30
    persistence: 0

plugins:
  - name: TradingAdvisor
    strategyName: RSI

  - name: Trader
    portfolioUpdates:
      threshold: 1 # in percentage
      dust: 10 # in currency

  - name: RoundTripAnalyzer
    enableConsoleTable: true
