watch:
  assets:
    - BTC
  currency: USDT
  timeframe: 5m
  mode: realtime # backtest | importer | realtime
  warmup:
    candleCount: 365

exchange:
  name: binance
  sandbox: true
  apiKey: # Your key
  secret: # Your secret

strategy:
  name: DEMA
  period: 12
  thresholds:
    up: 100
    down: -150

plugins:
  - name: 'TradingAdvisor'
    strategyName: 'DEMA'

  - name: 'Trader'

  - name: 'RoundtripAnalyzer'
    enableConsoleTable: true

  - name: EventSubscriber
    token: # Your telgram token
    botUsername: # Your telegram bot username
