watch:
  pairs:
    - symbol: BTC/USDT
      timeframe: 5m
  mode: realtime # backtest | importer | realtime

exchange:
  name: paper-binance
  simulationBalance:
    asset: 100
    currency: 300000

strategy:
  name: DebugAdvice
  each: 4
  wait: 0

plugins:
  - name: TradingAdvisor
    strategyName: DebugAdvice

  - name: Trader

  - name: EventSubscriber
    token: # Your Telegram bot token
    botUsername: # Your telegram bot username
