watch:
  pairs:
    - symbol: BTC/USDT
      timeframe: 5m
  mode: realtime

exchange:
  name: paper-binance
  simulationBalance:
    asset: 100
    currency: 300000

strategy:
  name: DebugAdvice
  each: 4
  wait: 0

plugins:
  - name: TradingAdvisor
    strategyName: DebugAdvice

  - name: Trader

  - name: Supervision
    token: # Your telegram bot token
    botUsername: # Your telegram bot username
    cpuThreshold: 80
    memoryThreshold: 1024
    cpuCheckInterval: 10000
    memoryCheckInterval: 10000
