watch:
  asset: BTC
  currency: USDT
  mode: realtime # backtest | importer | realtime
  timeframe: 5m

exchange:
  name: paper-binance
  simulationBalance:
    asset: 100
    currency: 300000

strategy:
  name: DebugAdvice
  each: 4
  wait: 0

plugins:
  - name: TradingAdvisor
    strategyName: DebugAdvice

  - name: Trader

  - name: EventSubscriber
    token: # Your Telegram bot token
    botUsername: # Your telegram bot username
