watch:
  assets:
    - BTC
  currency: USDT
  timeframe: 1d
  mode: realtime # backtest | importer | realtime
  warmup:
    candleCount: 365

exchange:
  name: binance
  apiKey: # Your key
  secret: # Your secret

strategy:
  name: DEMA
  period: 12
  thresholds:
    up: 100
    down: -150

plugins:
  - name: 'TradingAdvisor'
    strategyName: 'DEMA'

  - name: 'Trader'

  - name: 'PerformanceAnalyzer'
    riskFreeReturn: 5

  - name: EventSubscriber
    token: # Your telgram token
    botUsername: # Your telegram bot username

# set this to true if you understand that Gekko will invest according to how you configured the indicators.
# None of the advice in the output is Gekko telling you to take a certain position. Instead it is the result
# of running the indicators you configured automatically.
#
# In other words: Gekko automates your trading strategies it doesnt advice on itself only set to true if you truly
# understand this.
#
# Not sure? Read this first: https://github.com/askmike/gekko/issues/201
[I understand that Gekko only automates MY OWN trading strategies]: false
